<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Mostrar Semestres -->
    <div *ngFor="let semestre of semestres">
      <strong>{{ semestre.nombre }}</strong>
      <ion-list>
        <!-- Mostrar Materias dentro del Semestre -->
        <ion-item *ngFor="let materia of semestre.materias">
          <ion-label>
            {{ materia.nombre }}
            <ul>
              <!-- Mostrar Notas dentro de cada Materia -->
              <li *ngFor="let nota of materia.notas">
                {{ nota.corte }}: {{ nota.calificacion }} ({{ nota.porcentaje }}%)
              </li>
            </ul>
          </ion-label>
          <ion-button color="danger" (click)="eliminarMateria(semestre.id, materia.id)">Eliminar Materia</ion-button>
        </ion-item>
      </ion-list>

      <ion-button (click)="agregarMateria(semestre.id, materiaId, nuevaMateria)">Agregar Materia</ion-button>

    </div>

    <!-- Botón para agregar nuevo semestre -->
    <ion-button expand="block" (click)="agregarSemestre()">Agregar Semestre</ion-button>
  </div>
  <ion-item *ngFor="let semestre of semestres">
    <ion-label>{{ semestre.nombre }}</ion-label>
    <ion-item *ngFor="let materia of semestre.materias">
      <!-- Mostrar información de materia aquí -->
      <p>Promedio: {{ calcularPromedio(materia) }}</p>
      <p *ngIf="estaAprobada(materia)">Estado: Aprobada</p>
      <p *ngIf="!estaAprobada(materia)">Estado: No Aprobada</p>
      <ion-button color="danger" (click)="confirmarEliminacionMateria(semestre.id, materia.id)">Eliminar</ion-button>
    </ion-item>
  </ion-item>
  
  
</ion-content>
