<ion-header translucent="true">
    <ion-toolbar>
      <ion-title>Lista de Materias</ion-title>
      <ion-button routerLink="/home">Volver</ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-list>
      <ion-item *ngFor="let materia of materias">
        <ion-label>
          <h2>{{ materia.nombre }}</h2>
          <p>Semestre: {{materia.semestre}}</p>
        </ion-label>
        <ion-button routerLink="/materia-detail/{{materia.codigo}}">Ver detalles</ion-button>
        <ion-button color="danger" (click)="confirmDeleteMateria(materia.codigo)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
    <ion-button routerLink="/add-materia">Agregar Materia</ion-button>
  </ion-content>
  
  