<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Lista de Materias</ion-title>
    <ion-button routerLink="/home">Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- Grid para poner la barra de búsqueda y el filtro en la misma línea -->
  <ion-grid>
    <ion-row>
      <!-- Barra de búsqueda -->
      <ion-col size="12" size-md="7" size-lg="7">
        <ion-searchbar 
          [(ngModel)]="searchTerm" 
          (ionInput)="buscarMaterias()"
          placeholder="Buscar materia por nombre">
        </ion-searchbar>
      </ion-col>

      <!-- Filtro de semestre -->
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-item>
          <ion-label>Semestre</ion-label>
          <ion-select placeholder="Todos" (ionChange)="filtrarPorSemestre($event)">
            <ion-select-option *ngFor="let semestre of semestres" [value]="semestre">
              {{ semestre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <!-- Botón para mostrar todas las materias -->
      <ion-col size="12" size-md="2" size-lg="2">
        <ion-button expand="full" (click)="mostrarTodasMaterias()">Mostrar todas las materias</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Lista de materias filtradas -->
  <ion-list>
    <ion-item *ngFor="let materia of materiasFiltradas">
      <ion-label>
        <h2>{{ materia.nombre }}</h2>
        <p>Semestre: {{ materia.semestre }}</p>
      </ion-label>
      <ion-button routerLink="/materia-detail/{{materia.codigo}}">Ver detalles</ion-button>
      <ion-button color="danger" (click)="confirmDeleteMateria(materia.codigo)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/add-materia">Agregar Materia</ion-button>
</ion-content>
