<ion-header translucent="true">
    <ion-toolbar>
      <ion-title>{{ materia?.nombre }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-card *ngIf="materia">
      <ion-card-header>
        <ion-card-title>{{ materia.nombre }}</ion-card-title>
        <ion-card-subtitle>Código: {{ materia.codigo }}</ion-card-subtitle>
        <ion-card-subtitle>Semestre: {{ materia.semestre }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Promedio: {{ calcularPromedio() | number:'1.1-2' }}</p>
        <p *ngIf="isMateriaAprobada()" style="color: green;">Aprobada</p>
        <p *ngIf="!isMateriaAprobada()" style="color: red;">Reprobada</p>
      </ion-card-content>
      <ion-button [routerLink]="['/add-nota', materia.codigo]">Agregar Nota</ion-button>
    </ion-card>
  
    <ion-card *ngIf="(materia?.notas ?? []).length > 0">

        <ion-card-header>
          <ion-card-title>Notas Registradas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let nota of materia?.notas">
              <ion-label>
                <h2>Fecha: {{ nota.fechaEntrega }}</h2>
                <p>Descripción: {{ nota.descripcion }}</p>
                <p>Nota: {{ nota.nota | number:'1.2-2' }}</p>
                <p>Observaciones: {{ nota.observaciones || 'N/A' }}</p>
                <p>Corte: {{ nota.corte }}</p>
              </ion-label>
              <ion-button (click)="eliminarNota(materia!.codigo, i)">Eliminar</ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  
    <ion-button expand="full" routerLink="/materia-list">Regresar a la lista de materias</ion-button>
  </ion-content>
  